body {

    font-family: sans-serif;

}
nav {

    justify-self: center;

}
nav li {

    display: inline-block;

}

nav a {

    text-decoration: none;

}
.texto-principal {

    font-family: sans-serif;
    text-decoration: underline;
    font-family: Consolas, 'Courier New', monospace;
    transition: all 0.4s;
}
.texto-principal:hover {

    font-size: large;

}
.hr-gradient{
    
    display: inline-block;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, red, white);
    width: 300px;
    
}
.voton {

    background-color: white;
    color: red;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    margin-left: 15px;
    border: 1px solid black;
    

}
.voton:hover {

    transform: scale(1.4);
    color: white;
    background-color: red;
}
.titulo-h1{

    transition: all 0.3s;
}
.titulo-font {

    font-family: Consolas, 'Courier New', monospace;
    
}
a:active {

    color: blue;
    
}

a:visited {

    color: blue;

}

.espazico{
        margin: 25px 0;
}

td:hover, th:hover{
    background-color: aquamarine;
    transition: all 100ms;
    transform: scale(1.1);
    cursor:pointer
}

td:focus, th:focus{
    background-color: rgb(74, 82, 79);
    
}

th {
    background-color: gray;
}

.actual {

    text-decoration: underline;
    font-weight: bold;

}

.voton-verde {

    background-color: white;
    color:black;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    margin-left: 15px;
    border: 1px solid black;
    

}
.voton-verde:hover {

    transform: scale(1.4);
    color: white;
    background-color: lime;
}

.voton-negro {

    background-color: white;
    color:black;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    margin-left: 15px;
    border: 1px solid black;

}

.voton-negro:hover {

    transform: scale(1.4);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

mark {


    background-color:  yellow;

}

article > section > h2 {

    color: rgb(163, 0, 0);

}

article > section > aside p {

    color: blue;

}

/* Esto apunta directamente aun p que especificamente tenga un h2 detrás*/
article > section h2 + p {

    color: green;

}

/* Esto apunta a un p que tenga al lado un h2*/
article > section h2 ~ p {

    color: green;
    
}